* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

main .downloadContainer {
  height: 17rem;
  width: 32rem;
  background-color: #eee;
  border-radius: 0.7rem;
  font-size: 0.7rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main .downloadContainer h1{
    font-weight: 600;
}

main .downloadContainer h1 span{
    color: royalblue;
}

main .downloadContainer .outer{
    width: 100%;
    height: 8%;
    background-color: #aaa;
    border-radius: 50px;
}

main .downloadContainer .outer .inner{
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 50px;
}

main .downloadContainer .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

main .downloadContainer .bottom .percent{
    font-size: 4.5rem;
    font-weight: 700;
}

main .downloadContainer .bottom .downloadBtn{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
    background-color: green;
    border-radius: 0.3rem;
    color: #eee;
    cursor: pointer;
}

main .downloadContainer .bottom .downloadBtn:active{
    scale: 0.94;
}


