* {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: 800;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #eee;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

main> div{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

main>div img{
    height: 150px;
    width:150px;
    mix-blend-mode: difference;
    border-radius: 50%;
    /* transform: translate(-50%,-50%); */
    position: absolute;
    cursor: pointer;
}  

main>div:last-child{
    border: none;
}
