

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root{
    /* border color */
    --primary-bdr:#818181;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ffcb05;
}

main .container{
    height: 50%;
    width: 60%;
    border: 2px solid var(--primary-bdr);
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #242937;
}

main .container .logo img{
    width: 20rem;
}

main .container .textInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main .container .textInfo .name{
    font-size: 6rem;
    font-weight: 700;
}

main .container .textInfo .fullForm{
    font-size: 2rem;
    font-weight: 600;
}

main .container .textInfo .captain{
    font-size: 1.5rem;
    font-weight: 700;
}

main button{
    background-color: #133165;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: none;
    transition: all ease 0.2s;
}

main button:active{
    scale: 0.91;
    background-color: blueviolet;
}

@media screen and (max-width:1120px){
    html{
        font-size: 14px;
    }
}

@media screen and (max-width:935px) {
    html{
        font-size: 13px;
    }
    main .container{
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
}

@media screen and (max-width:600px){
    html{
        font-size: 11px;
    }
}