* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    position: relative;
    cursor: pointer;
}

main div{
    height: 3rem;
    width: 3rem;
    background-color: royalblue;
    position: absolute;
}