* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
  color: #eee;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body h1{
  color: red;
  font-size: 8rem;
}

body p{
    color: rgb(255, 81, 0);
    font-size: 4rem;
    font-weight: 1000;
    text-align: center;
}
