* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

body section {
  height: 98%;
  width: 23rem;
  border-radius: 0.7rem;
  overflow: auto;
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body section::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: 30px;
  transform: all ease 0.1rem;
  cursor: pointer;
}

.reel .vid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.reel .animated{
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    opacity: 0;
    background: url(https://www.shutterstock.com/image-vector/colorful-line-background-inspired-by-260nw-566284384.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all 0.4s cubic-bezier(.65,1,.77,1.44);
    pointer-events: none;
    z-index: 20;
}

.reel .profileInfo {
  position: absolute;
  width: 100%;
  height: 20%;
  color: #eee;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3rem;
  z-index: 5;
}

.reel .profileInfo .up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.reel .profileInfo .up .profileImg {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.reel .profileInfo .up .profileImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .profileInfo .up .profileName {
  font-size: 1.1rem;
  font-weight: 600;
}

.reel .profileInfo .up .isFollowed {
  font-size: 1rem;
  border: 1px solid #eee;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transform: all ease 0.2s;
  font-weight: 500;
}

.reel .profileInfo .up .isFollowed:active {
  scale: 0.94;
}

.reel .profileInfo .caption {
  font-size: 1.1rem;
  overflow: auto;
}

.reel .profileInfo .caption::-webkit-scrollbar {
  display: none;
}

.right {
  width: 2.7rem;
  height: 100%;
  position: absolute;
  right: 1rem;
  top: 50%;
  color: #eee;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  align-items: center;
  padding: 0 0.5rem;
}

.right .elem {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  align-items: center;
  cursor: pointer;
}

.right .elem i {
  font-size: 1.8rem;
  pointer-events: none;
}

.right .elem .love {
  color: red;
}

.right .elem > div {
  font-size: 0.8rem;
  pointer-events: none;
}

@media screen and (max-width: 510px) {
  body section {
    width: 100%;
  }
}
