

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .container{
    width: 25rem;
    height: 35rem;
    cursor: pointer;
    position: relative;
}

main .container img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

main .container i{
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 4rem;
    transform: translate(-50%,-50%) scale(0);
    color: rgb(255, 0, 0);
    opacity: 0.8;
    transition: all ease 0.5s;
}
