@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
 
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #aed3ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

#piyano {
  background-color: #000;
  padding: 2rem;
  border-radius: 1.5rem;
}

#piyano header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#piyano header h2 {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#piyano header .volume {
  display: flex;
  gap: 1rem;
}

#piyano header .volume span{
    font-size: 1.2rem;
}

#piyano header .volume input {
  width: 10rem;
  accent-color: #fff;
  cursor: pointer;
}

#piyano header .check {
  display: flex;
  gap: 1rem;
}

#piyano header .check span{
    font-size: 1.2rem;
}

#piyano header .check input {
  height: 1.5rem;
  width: 3.3rem;
  cursor: pointer;
  appearance: none;
  position: relative;
  background: #4b4b4b;
  outline: none;
  border-radius: 30px;
}

#piyano header .check input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.3rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

#piyano header .check input:checked::before{
    left: 2rem;
    background-color: #fff;
}

#piyano ul{
    display: flex;
    list-style-type: none;
    margin-top: 2rem;
    position: relative;
}

#piyano ul .key{
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-right: 0.9rem;
}

#piyano ul .white{
    width: 4.5rem;
    height: 15rem;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 0.5rem;
    transition: all ease 0.3s;
}

#piyano ul .white:active{
    scale:1.05;
    border: none;
    background-color: #b8b6b6;
}

#piyano ul .white:active span{
    color: royalblue;
    font-size: 1.5rem;
}
#piyano ul .black{
    z-index: 2;
    width: 2rem;
    height: 8rem;
    background-color: #000;
    border-radius: 0.2rem;
     margin: 0 -1rem 0 -1rem;
     transition: all ease 0.2s;
}

#piyano ul .black:active{
    scale:1.1;
    background-color: #000;
}

#piyano ul .black:active span{
    color: royalblue;
    font-size: 1.5rem;
}

#piyano ul .key.white span{
    color: #000;
}

#piyano ul .key span{
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    font-weight: 700;
    display: none;
    transition: all ease 0.3s;
}

#piyano ul .key.hide span{
    display: inline-block;
}

.key.white.active {
    scale: 1.05;
    background-color: #b8b6b6;
    border: none;
}
.key.white.active span {
    color: royalblue;
    font-size: 1.5rem;
}

.key.black.active {
    scale: 1.1;
    background-color: #000;
}
.key.black.active span {
    color: royalblue;
    font-size: 1.5rem;
}

@media screen and (max-width: 615px) {

    #piyano{
        transform: rotate(90deg);
    }
}
