

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
  color: #f0f0f0;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #container{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

main #container h1{
    font-size: 6rem;
}

main #container .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main #container .btns .btn{
    font-size: 1.3rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #0c0c0c;
    color: #f0f0f0;
}

main #container #reset{
    padding: 0.3rem 5rem;
    font-size: 1.3rem;
    background-color: #0c0c0c;
    color: #ff0505;
    border: 1px solid #ff0505;
    border-radius: 0.5rem;
    cursor: pointer;
}


